# Connexion MySQL
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3311
MYSQL_USER=root
MYSQL_PASSWORD=changeme
MYSQL_DATABASE=soutenance

# URL du frontend (pour CORS)
FRONTEND_URL=http://localhost:8080

# Port du serveur backend
PORT=4000
